<a href="https://colab.research.google.com/github/PawPanda/Data-Science-Babysteps/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem
##Author - Chirag Pawar

##In this notebook, Data Science Tools and Ecosystem are summarized.
####Objectives:


* Popular Data Science languages
* Commonly used libraries
* Data Science Tools
* Arithmetic expressions in python

###Some of the popular languages that Data Scientists use are:


1. Python
2. R
3. Java
4. Scala
5. Julia
6. Matlab

###Some of the commonly used libraries used by Data Scientists include:


1. Pandas
2. Numpy
3. SciPy
4. MatPlotLib
5. Tensorflow
6. Keras

|Data Science Tools|
|---|
|Jupyter Notebook|
|JupyterLab|
|Google Colabatory|

###Below are a few examples of evaluating arithmetic expressions in Python
1. a+b
2. a-b
3. a*b
4. a/b
5. a%b
6. a//b

In [2]:
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes = 200;
hours = minutes/60;   #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335